* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

/* ======================   common css   ================== */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

/* ======================   common css   ================== */
/* ================   logo starts   =================*/
.logo .logo-content {
  top: 45px;
}

.logo .logo-content .ring {
  display: inline-block;
  position: relative;
}

.logo .logo-content .ring i {
  font-size: 33px;
  position: absolute;
  top: -12px;
  left: 0;
  color: #f96262;
}

.logo .logo-content .logo-text {
  display: inline-block;
  margin-left: 37px;
}

.logo .logo-content .logo-text h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #413a3a;
  letter-spacing: 3px;
}

/* ================   logo   ends   ================= */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

/* ======================   common css   ================== */
/* =============   banner starts   ============= */
#banner .banner-text {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 185px;
}

#banner .banner-text h1 {
  font-size: 60px;
  font-weight: 600;
  padding-right: 340px;
  color: #413a3a;
  letter-spacing: 5px;
  line-height: 67px;
}

#banner .banner-text h1 .we {
  font-weight: 300;
  color: #ce9797;
}

#banner .banner-text p {
  color: #ce9797;
  font-size: 16px;
  padding-right: 205px;
  padding-bottom: 45px;
  padding-top: 20px;
}

#banner .banner-text .email-1 {
  width: 380px;
  line-height: 53px;
  color: #ce9797;
  border-radius: 55px 0 0 55px;
  -webkit-border-radius: 55px 0 0 55px;
  -moz-border-radius: 55px 0 0 55px;
  -ms-border-radius: 55px 0 0 55px;
  -o-border-radius: 55px 0 0 55px;
  border: 1px solid #ce9797;
  padding-left: 30px;
}

#banner .banner-text .email-1::-webkit-input-placeholder {
  color: #ce9797;
}

#banner .banner-text .email-1:-ms-input-placeholder {
  color: #ce9797;
}

#banner .banner-text .email-1::-ms-input-placeholder {
  color: #ce9797;
}

#banner .banner-text .email-1::placeholder {
  color: #ce9797;
}

#banner .banner-text .email-1:focus {
  border-color: #f96262;
}

#banner .banner-text form {
  position: relative;
}

#banner .banner-text form .err {
  position: absolute;
  left: 30px;
  bottom: -30px;
  color: #f96262;
}

#banner .banner-text form .err .icon-1 {
  font-size: 20px;
  position: absolute;
  right: -105px;
  top: -47px;
}

#banner .banner-text form .sub-1 {
  width: 100px;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  margin-left: -65px;
  border: none;
  background: #ee8c8c;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  position: absolute;
  top: 0;
  left: 385px;
}

#banner .banner-text form .sub-1 i {
  line-height: 55px;
  font-size: 20px;
  color: #fff;
}

#banner .banner-text form .sub-1:hover {
  -webkit-box-shadow: 0px 11px 30px -1px rgba(238, 140, 140, 0.7);
          box-shadow: 0px 11px 30px -1px rgba(238, 140, 140, 0.7);
  background: #f09e9e;
}

/* =============   banner   ends   ============= */
/*# sourceMappingURL=style.css.map */