@import 'variable';
@import 'mixin';

/* =============   banner starts   ============= */ 
#banner{
    .banner-text{
        font-family: $josefin;
        padding-top: 185px;
        h1{
            font-size: 60px;
            font-weight: 600;
            padding-right: 340px;
            color: $dg-red;
            letter-spacing: 5px;
            line-height: 67px;
            .we{
                font-weight: 300;
                color: $d-red;
                
            }
        }
        p{
            color: $d-red;
            font-size: 16px;
            padding-right: 205px;
            padding-bottom: 45px;
            padding-top: 20px;
        }
        .email-1{
            width: 380px;
            line-height: 53px;
            color: $d-red;
            border-radius: 55px 0 0 55px;
            -webkit-border-radius: 55px 0 0 55px;
            -moz-border-radius: 55px 0 0 55px;
            -ms-border-radius: 55px 0 0 55px;
            -o-border-radius: 55px 0 0 55px;
            border: 1px solid $d-red;
            padding-left: 30px;
            &::placeholder{
                color: $d-red;
                
            }
            &:focus{
                border-color: $s-red;
            }
        }
        form{
            position: relative;

            .err{
                position: absolute;
                left: 30px;
                bottom: -30px;
                color: $s-red;

                .icon-1{
                    font-size: 20px;
                    position: absolute;
                    right: -105px;
                    top: -47px;
                }
            }
            .sub-1{
                width: 100px;
                border-radius: 55px;
                -webkit-border-radius: 55px;
                -moz-border-radius: 55px;
                -ms-border-radius: 55px;
                -o-border-radius: 55px;
                margin-left: -65px;
                border: none;
                background: hsl(0, 74%, 74%);
                @include trans2(0.3s);
                position: absolute;
                top: 0;
                left: 385px;
                i{
                    line-height: 55px;
                    font-size: 20px;
                    color: #fff;
                    
                }
                &:hover{
                    box-shadow: 0px 11px 30px -1px rgba(238,140,140,0.7);
                    background: hsl(0, 73%, 78%);
    
                }
                
            }
        }
    }

}
/* =============   banner   ends   ============= */ 